.skillsFilterItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    border-radius: var(--radius);
    border: 1px solid var(--button-border-gray);
    background-color: white;
    cursor: pointer;
}

.skillsFilterItem img {
    height: 18px;
}

.skillsFilterItem p {
    font-size: 14px;
    margin: 0;
}

.skillsFilterItemX {
    color: var(--gray);
}

.clickable {
    cursor: pointer;
}

.nonClickable {
    cursor: default;
}