---
import NavigationHeader from '@/components/nav/NavigationHeader';

const { activePath } = Astro.props;

---

<div class="master-container">
    <NavigationHeader activePath={activePath} title={activePath === '/skills' ? 'Eric Kim' : ''} />
    <div class="page-container">
        <slot />
    </div>
</div>

<style>
    .master-container {
        margin: 0 auto;
        width: var(--container-width);
        min-height: 100vh;
        padding: 64px 0px 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .page-container {
        padding: 24px 0px;
        flex: 1;
    }
</style>